.advantages {
  padding: 60px 77px;
  width: 100%;
  background-color: $mainColor;
  display: flex;
  justify-content: space-between;
  &__item {
    display: flex;
    max-width: 350px;
    &-value {
      font-family: PTSerif, 'Times New Roman', serif;
      font-size: 70px;
      border-right: solid 1px #ffffff;
      padding-right: 7px;
      margin-right: 7px;
      line-height: 60px;
    }
    &-description {
      font-size: 24px;
      line-height: 24px;
    }
  }
}
@media (max-width: 1100px) {
  .advantages {
    padding: 36px 118px;
    &__item {
      max-width: 205px;
      &-value {
        font-size: 42px;
        line-height: 40px;
      }
      &-description {
        font-size: 14px;
        line-height: 14px;
      }
    }
  }
}
@media (max-width: 768px) {
  .advantages {
    padding: 36px 79px 35px 29px;
  }
}
@media (max-width: 660px) {
  .advantages {
    padding: 22px 10px;
    &__item {
      display: table;
      &:first-child {
        width: 87px;
        margin-right: 34px;
      }
      &:nth-child(2) {
        width: 140px;
        margin-right: 27px;
      }
      &-value {
       border: none;
      }
      &-description {
        font-size: 14px;
        line-height: 14px;
      }
    }
  }
}