@font-face {
  font-family: 'PTSans';
  font-display: swap;
  src: url('../fonts/PT_Sans-Web-Regular.woff2') format('woff2'),
  url('../fonts/PT_Sans-Web-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PTSerif';
  font-display: swap;
  src: url('../fonts/PT_Serif-Web-Regular.woff2') format('woff2'),
  url('../fonts/PT_Serif-Web-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PTSerif';
  font-display: swap;
  src: url('../fonts/PT_Serif-Web-Italic.woff2') format('woff2'),
  url('../fonts/PT_Serif-Web-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}