.page-footer {
  background-color: #636363;
  &__wrapper {
    padding: 60px 118px 30px 78px;
    position: relative;
  }
  &__sections {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-right: 65px;
    padding-bottom: 44px;
  }
  .section {
    &__head {
      font-size: 18px;
      text-transform: uppercase;
      padding-bottom: 30px;
      font-weight: normal;
    }
    &__list-item {
      font-size: 16px;
      color: #b0afaf;
      padding-bottom: 7px;
      &::before {
        content: "";
        display: inline-block;
        width: 11px;
        height: 3px;
        background-color: $mainColor;
        position: relative;
        top: -4px;
        margin-right: 11px;
      }
    }
  }
  .contacts {
    color: #b0afaf;
    &__address {
      padding-bottom: 24px;
    }
  }
  &__lines {
    display: flex;
  }
  &__line {
    display: inline-block;
    width: 3px;
    height: 36px;
    background-color: $mainColor;
    &:first-child {
      margin-right: 176px;
    }
    &:nth-child(2) {
      margin-right: 125px;
    }
    &:nth-child(3) {
      margin-right: 99px;
    }
    &:nth-child(4) {
      margin-right: 74px;
    }
    &:nth-child(5), &:nth-child(6), &:nth-child(7) {
      margin-right: 22px;
    }
  }
  &__social {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    top: -50px;
    &-text {
      width: 87px;
      font-size: 16px;
      line-height: 26px;
    }
    &-icon {
      margin-left: 30px;
    }
  }
  &__end-line {
    width: 100%;
    height: 10px;
    background-color: $mainColor;
  }
  &__service-info {
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    color: #b0afaf;
    &-confidentional-info, &-conditions {
      color: #b0afaf;
    }
  }
  .js-replace, .js-replace-mobile {
    display: none;
  }
}

@media (max-width: 1024px) {
  .page-footer {
    &__wrapper {
      padding: 33px 124px 32px 117px;
    }
    &__section {

      &:nth-child(4) {
        display: none;
      }
    }
    .section {
      &__head {
        font-size: 14px;

      }
      &__list-item {
        font-size: 12px;
      }
    }
    &__lines {
      margin-top: 150px;
      width: 100%;
    }
    .contacts {
      &__email, &__phones, &__address {
        font-size: 14px;
      }
    }
    &__line {
      display: inline-block;
      width: 3px;
      height: 36px;
      background-color: $mainColor;
      &:first-child {
        margin-right: 28%;
      }
      &:nth-child(2) {
        margin-right: 22%;
      }
      &:nth-child(3) {
        margin-right: 17%;
      }
      &:nth-child(4) {
        margin-right: 12%;
      }
      &:nth-child(5), &:nth-child(6), &:nth-child(7) {
        margin-right: 4%;
      }
    }
    &__social {
      &-text {
        width: 200px;
        min-width: 200px;
        transform: translate(150px, -150px);
      }
      &-icon {
        transform: translate(-80px, -120px);
      }
    }
    &__service-info {
      width: 80%;
    }
    .js-replace {
      display: block;
    }
  }
}
@media (max-width: 768px) {
  .page-footer {
    &__wrapper {
      padding-left: 29px;
      padding-right: 29px;
    }
  }
}
@media (max-width: 620px) {

  .page-footer {
    &__section {
      &:nth-child(3) {
        display: none;
      }

    }
    .js-replace {
      display: none;
    }
    .js-replace-mobile {
      display: block;
    }
  }
}

@media (max-width: 580px) {
  .page-footer {
    &__social {
      justify-content: flex-start;
      &-text {
        transform: translate(0, -150px);
      }
    }
    &__social-icon {
      transform: translate(-230px, -120px);
    }
    &__wrapper {
      padding: 33px 10px 21px 10px;
    }
    &__sections {
      padding-right: 0;
    }
    &__service-info {
      width: 100%;
      flex-wrap: wrap;
      &-confidentional-info, &-conditions {
       width: auto;
      }
      &-copyright {
        order: 1;
      }
    }
  }
}
@media (max-width: 481px) {
  .page-footer {
    &__service-info {
      &-copyright {
        padding-top: 8px;
      }
    }
  }
}