.page-header {
  display: flex;
  flex-direction: column;
  padding: 15px 76px 22px;
  &__languages {
    display: flex;
    align-self: flex-end;
    font-size: 12px;
    text-transform: uppercase;
    padding-bottom: 75px;
    color: black;
    &-item {
      padding-right: 4px;
      &--active {
        color: $mainColor;
      }
      &:hover {
        cursor: pointer;
      }
      &-search {
        margin-left: 27px;
      }
    }
  }
  .navigation {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    &__menu {
      display: flex;
      text-transform: uppercase;
      font-size: 20px;
      &-item {
        position: relative;
        padding-left: 33px;
        color: black;
        &::after {
          content: "|";
          position: absolute;
          right: -15px;
        }
        &:hover {
          cursor: pointer;
        }
      }
      &-item-search {
        margin-left: 27px;
      }
    }
  }
}

@media (min-width: 1065px) {
  .page-header {
    .navigation {
      &__menu {
        &-item-search {
          transform: translateY(4px);
        }
      }
    }
  }
}

@media (max-width: 1060px) {
  .page-header {
    padding-left: 117px;
    padding-right: 117px;
    padding-bottom: 10px;
    &__languages {
      padding-bottom: 18px;
      font-size: 8px;
    }
    .navigation {
      .logo {
        width: 101px;
        height: auto;
      }
      &__menu {
        font-size: 12px;
        &-item-search svg {
          width: 12px;
          height: 12px;
          position: relative;
          top: 10%;
        }
      }
    }
  }
}

@media (max-width: 860px) {
  .page-header {
    padding-left: 30px;
    padding-right: 30px;
    &__languages {
      padding-bottom: 20px;
    }
    .navigation {
      .logo {
        width: 120px;
      }
    }
  }
}

@media (max-width: 700px) {
  .page-header {
    .navigation {
      &__menu {
        &-item {
          padding-left: 10px;
          &::after {
            right: -7px;
          }
        }
        &-item-search {
          margin-left: 10px;
        }
      }
    }
  }
}

@media (max-width: 570px) {
  .page-header {
    padding-right: 10px;
    padding-left: 10px;
    .navigation {

      &__menu {
        font-size: 9px;
      }
    }
  }
}

@media (max-width: 460px) {
  .page-header {
    padding: 15px 10px 25px;
    &__languages {
      padding-bottom: 0;
    }
    .navigation {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      &__menu {
        font-size: 9px;
        padding-top: 20px;
        &-item {
          padding-right: 15px;
          padding-left: 0;
          &:nth-child(5) {
            padding-right: 0;
            &::after {
              content: none;
            }
          }
          &::after {
            right: 7px;
          }
        }
        &-item-search {
          position: absolute;
          top: 49px;
          right: 10px;
          margin-left: 0;
        }
      }
    }
  }
}