.main-slider {
  width: 100%;
  position: relative;
  &__slide {
    position: relative;
    height: 100%;
    &--first {
      background: url('../img/slide-1.jpg') no-repeat;
      background-size: cover;
    }
  }
  &__slide-rain {
    position: absolute;
    background: url('../img/rain.svg') no-repeat;
    width: 243px;
    height: 100%;
    top: 114px;
    right: 115px;
  }
  &__slide-content {
    padding: 365px 0 80px 170px;
  }
  &__slide-head {
    position: relative;
    font-size: 48px;
    line-height: 48px;
    width: 600px;
    font-family: PTSerif, 'Times New Roman', serif;
  }
  &__slide-link {
    font-size: 24px;
    color: #ff351b;
    font-family: PTSerif, 'Times New Roman', serif;
    font-style: italic;
    &::before {
      content: "";
      background-color: $mainColor;
      display: block;
      width: 2px;
      height: 45px;
      color: #ff351b;
      margin: 13px 0 16px 0;
      position: relative;
      left: 4px
    }
  }
  &__pager {
    position: absolute;
    font-size: 20px;
    top: 330px;
    left: 155px;
    &-delimiter {
      padding: 0 3px;
      color: #ff351b;
    }
  }
  .arrow {
    top: 50%;
  }
}

@media (max-width: 1024px) {
  .main-slider {
    &__slide {
      &--first {
        background-size: 100%;
      }
    }
    &__slide-rain {
      width: 142px;
      height: 100%;
      top: 68px;
      right: 150px;
      background-size: 100%;
    }
    &__slide-content {
      padding: 219px 0 50px 115px;
    }
    &__slide-head {
      font-size: 28px;
      line-height: 29px;
      width: 375px;
    }
    &__slide-link {
      font-size: 14px;
      &::before {
        height: 27px;
      }
    }
    &__pager {
      font-size: 12px;
      top: 192px;
      left: 106px;
    }
  }
}
@media (max-width: 768px) {
  .main-slider {
    &__slide-rain {
      right: 70px;
    }
    &__slide-content {
      padding: 219px 0 50px 88px;
    }
    &__pager {
      left: 80px;
    }
    .arrow {
      top: 45%;
      right: 40px;
    }
  }
}
@media (max-width: 700px) {
  .main-slider {
    &__slide {
      &--first {
        background-size: cover;
        overflow: hidden;
        background-position-x: -90px;
      }
    }
    &__slide-rain {
      top: 50px;
      right: 15px;
    }
    &__slide-content {
      padding: 221px 0 45px 18px;
    }
    &__slide-head {
      font-size: 23px;
      width: 267px;
      position: relative;
      z-index: 2;
    }
    &__slide-link {
      font-size: 14px;
      &::before {
        width: 1px;
        margin: 5px 0;
        left: 2px;
      }
    }
    &__pager {
      top: 200px;
      left: 10px;
    }
    .arrow {
      right: 10px;
    }
  }
}
