.reasons {
  padding: 90px 90px 90px 76px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__head {
    font-size: 34px;
    line-height: 34px;
    font-family: PTSerif, 'Times New Roman', serif;
    color: #636363;
    font-weight: normal;
  }
  &__reason {
    width: 330px;
    border: none;
    border-bottom: 2px solid #ababab;
    font-size: 28px;
    line-height: 34px;
    color: $mainColor;
    font-family: PTSans, Arial, sans-serif;
    text-transform: uppercase;
  }
  &__select {
    width: 300px;
    overflow: hidden;
    background: url('../img/arrow-down.svg') no-repeat right;
  }
  &__select select {
    background: transparent;
    width: 330px;
  }
}
@media (max-width: 1140px) {
  .reasons {
    padding: 46px 124px 52px 116px;
    &__head {
      font-size: 24px;
      line-height: 24px;

    }
    &__reason {
      font-size: 16px;
      line-height: 21px;
    }
    &__select {
      width: 170px;
    }
    &__select select {
      width: 198px;
    }
  }
}
@media (max-width: 860px) {
  .reasons {
    padding: 46px 37px 52px 30px;
  }
}
@media (max-width: 680px) {
  .reasons {
    text-align: center;
    padding: 46px 10px 52px;
    display: block;
    &__head {
      padding-bottom: 24px;
    }
    &__reason {
      font-size: 16px;
      line-height: 21px;
    }
    &__reason:nth-child(2) {
      margin-right: 15px;
    }
    &__select {
      display: inline-block;
      width: 140px;
      background-size: 10px 5px;
    }
    &__select select {
      width: 160px;
    }
  }
}
@media (max-width: 320px) {
  .reasons {
    text-align: left;
  }
}