.rebeccamouth {
  width: 100%;
  background: url('../img/skater.jpg') no-repeat;
  background-size: cover;
  &__content {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 60px 0 135px 171px;
  }
  &__head {
    color: #2b2828;
    font-size: 34px;
    line-height: 34px;
    font-family: PTSerif, 'Times New Roman', serif;
    font-weight: normal;
    padding-bottom: 80px;
  }
  &__preview {
    font-size: 28px;
    line-height: 34px;
    color: $mainColor;
    font-family: PTSerif, 'Times New Roman', serif;
  }
  &__description {
    font-size: 18px;
    line-height: 26px;
    color: black;
    padding-top: 10px;
  }
  &__link-more {
    font-size: 10px;
    color: white;
    text-transform: uppercase;
    align-self: flex-end;
    &::before {
      content: "";
      margin-left: auto;
      margin-bottom: 13px;
      display: block;
      width: 3px;
      height: 39px;
      background-color: #ff351b;
    }
  }
}
@media (max-width: 1024px) {
  .rebeccamouth {
    &__content {
      width: 355px;
      padding: 32px 0 72px 119px;
    }
    &__head {
      font-size: 24px;
      line-height: 24px;
      padding-bottom: 48px;
    }
    &__preview {
      font-size: 17px;
      line-height: 21px;
    }
    &__description {
      font-size: 11px;
      line-height: 16px;
      padding-top: 6px;
    }
    &__link-more {
      font-size: 6px;
      &::before {
        width: 2px;
        height: 24px;
      }
    }
  }
}
@media (max-width: 768px) {
  .rebeccamouth {
    background-position-y: 0;
  }
}
@media (max-width: 580px) {
  .rebeccamouth {
    background-size: cover;
    overflow: hidden;
    &__content {
      width: 100%;
      padding: 32px 81px 71px 10px;
    }
    &__head {
      padding-bottom: 48px;
    }
    &__preview {
    }
    &__description {

      padding-top: 10px;
    }
    &__link-more {
      align-self: flex-end;
      &::before {
        margin-left: auto;
        margin-bottom: 13px;

      }
    }
  }
}
@media (max-width: 320px) {
  .rebeccamouth {
    background-position-x: -280px;
  }
}