.rosaburgh-block {
  width: 100%;
  background-color: #636363;
  padding: 60px 80px 0 170px;
  display: flex;
  flex-direction: column;
  position: relative;
  &__head {
    font-size: 34px;
    line-height: 34px;
    font-family: PTSerif, 'Times New Roman', serif;
    font-weight: normal;
  }
  &__content {
    width: 635px;
    align-self: center;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
  }
  &__content-head {
    padding-top: 31px;
    font-family: PTSans, Arial, sans-serif;
    font-size: 30px;
    font-weight: normal;
  }
  &__content-description {
    position: relative;
    padding-top: 10px;
    font-size: 18px;
    line-height: 26px;
    font-family: PTSerif, 'Times New Roman', serif;
    font-style: italic;
  }
  &__content-more {
    font-size: 10px;
    font-family: PTSans, Arial, sans-serif;
    color: white;
    align-self: flex-end;
    text-transform: uppercase;
    &::before {
      position: relative;
      margin-bottom: 13px;
      left: 95%;
      content: "";
      display: block;
      width: 3px;
      height: 39px;
      background-color: #ff351b;
    }
  }
}

@media (max-width: 1024px) {
  .rosaburgh-block {
    padding: 33px 120px 0 120px;
    &__head {
      font-size: 24px;
      line-height: 24px;
    }
    &__content-head {
      padding-top: 17px;
      font-size: 20px;
    }
    &__content {
      width: 390px;
      padding-bottom: 28px;
    }
    &__content-description {
      font-size: 11px;
      line-height: 14px;
    }
    &__content-more {
      font-size: 6px;
      &::before {
        width: 2px;
        height: 23px;
      }
    }
  }
}

@media (max-width: 768px) {
  .rosaburgh-block {
    padding: 33px 32px 0 88px;
    .arrow {
      right: 29px;
    }
  }
}

@media (max-width: 680px) {
  .rosaburgh-block {
    padding: 32px 28px 28px 10px;
    &__content {
      width: auto;
      padding-bottom: 0;
      align-self: stretch;
    }
    .arrow {
      top: 28%;
      right: 10px;
    }
  }
}