.save-money {
  width: 100%;
  position: relative;
  &__content {
    padding: 60px 80px 164px 170px;
    background: url("../img/walk-people.jpg") no-repeat;
    background-size: cover;
  }
  &__content-head {
    margin-bottom: 80px;
    font-size: 34px;
    line-height: 34px;
    font-family: PTSerif, 'Times New Roman', serif;
    font-weight: inherit;
  }
  &__content-description {
    display: flex;
    flex-direction: column;
    width: 445px;
  }
  &__content-description-head {
    color: $mainColor;
    font-size: 30px;
    line-height: 34px;
    font-family: PTSans, Arial, sans-serif;
    font-weight: inherit;
  }
  &__content-text {
    padding-top: 10px;
    font-family: PTSans, Arial, sans-serif;
    font-size: 18px;
    line-height: 26px;
  }
  &__more-link {
    font-size: 10px;
    color: white;
    text-transform: uppercase;
    align-self: flex-end;
    &::before {
      content: "";
      margin-left: auto;
      margin-bottom: 13px;
      display: block;
      width: 3px;
      height: 39px;
      background-color: #ff351b;
    }
  }
  .arrow {
    top: 180px;
  }
}
@media (max-width: 1024px) {
  .save-money {
    &__content {
      padding: 32px 119px 100px;
      background-size: 100%;
    }
    &__content-head {
      margin-bottom: 48px;
      font-size: 24px;
      line-height: 24px;
    }
    &__content-description {
      width: 262px;
    }
    &__content-description-head {
      font-size: 18px;
      line-height: 21px;
    }
    &__content-text {
      padding-top: 7px;
      font-size: 11px;
      line-height: 14px;
    }
    &__more-link {
      font-size: 6px;
      &::before {
        width: 2px;
        height: 24px;
      }
    }
    .arrow {
      top: 104px;
    }
  }
}
@media (max-width: 768px) {
  .save-money{
    &__content {
      padding: 32px 119px 88px 90px;
      background-size: cover;
    }
    .arrow {
      top: 104px;
      right: 29px;
    }
  }
}
@media (max-width: 580px) {
  .save-money {
    &__content {
      padding: 32px 10px 100px;
      background-size: cover;
      overflow: hidden;
    }
    &__content-head {
      margin-bottom: 24px;
      width: 60%;
      min-width: 175px;
    }
    &__content-description {
      width: 100%;
    }
    .arrow {
      display: none;
    }
  }
}
@media (max-width: 320px) {
  .save-money {
    &__content {
      background-position-x: -155px;
    }
  }
}