html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

body {
  font-size: $fontSize;
  font-family: $mainFont;
  color: $mainFontColor;
  font-weight: normal;
  margin: 0;
  padding: 0;
  min-width: 320px;
}

*, ::after, ::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2 {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

.arrow {
  position: absolute;
  right: 75px;
  top: 125px;
  width: 25px;
  height: 40px;
  background: url(../img/arrow.svg) no-repeat;
  background-position: -100px -100px;
}
@media (max-width: 1024px) {
  .arrow {
    background-size: 150px;
    background-position: -75px -75px;
    width: 20px;
    height: 30px;
    top: 43%;
    right: 110px;
  }
}