.team-slider {
  position: relative;
  overflow: hidden;
  &__slide {
    position: relative;
  }
  &__slide-head {
    font-size: 34px;
    line-height: 34px;
    font-family: PTSerif, 'Times New Roman', serif;
    color: #636363;
    padding: 60px 0 0 170px;
    font-weight: normal;
  }
  &__members {
    width: 1131px;
    height: 564px;
    background: url('../img/members.png') no-repeat;
    margin-left: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
  }
  &__member {
    font-size: 17px;
    color: black;
    font-family: PTSans, Arial, sans-serif;
    padding-left: 210px;
    padding-top: 25px;
  }
  &__member-role {
    display: block;
    font-size: 10px;
    &::before {
      content: "";
      height: 12px;
      width: 2px;
      margin: 7px 0;
      display: block;
      background-color: $mainColor;
    }
  }
  &__mask {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 85px;
    height: 480px;
    background-color: rgba(255, 255, 255, 0.81);
  }
  .arrow {
    top: 310px;
    &--left {
      left: 54px;
      transform: rotate(180deg);
    }
  }
}

@media (max-width: 1024px) {
  .team-slider {

    &__slide-head {
      font-size: 24px;
      line-height: 24px;
      padding: 50px 0 0 119px;
    }
    &__members {
      width: 678px;
      height: 338px;
      margin: 0 auto;
      background-size: 100% 100%;
      background-position: 55px 0;
    }
    &__member {
      width: 33%;
      position: relative;
      right: -190px;
      font-size: 10px;
      color: black;
      padding-left: 0;
    }
    &__member-role {
      font-size: 6px;
      &::before {
        content: "";
        height: 12px;
        width: 2px;
        margin: 7px 0;
        display: block;
        background-color: $mainColor;
      }
    }
    &__mask {
      display: none;
    }
    .arrow {
      top: 170px;
      &--left {
        left: 116px;
        transform: rotate(180deg);
      }
    }
  }
}
@media (max-width: 768px) {
  .team-slider {
    &__members {
      margin-left: auto;
      margin-right: 0;
      background-position: 0;
    }
    &__member {
      right: -125px;
      top: -10px;
    }
    &__mask {
      display: block;
      height: 250px;
    }
    .arrow {
      right: 29px;
      &--left {
        left: 29px;
      }
    }
  }
}
@media (max-width: 580px) {
  .team-slider {
    overflow: hidden;
    &__slide-head {
      padding: 50px 0 30px 10px;
    }

    &__member {
      width: 33%;
      min-width: 100px;
      margin-left: 210px;
      padding: 0;
      position: relative;
      left: 120px;
      top: 20px;
      z-index: 2;
    }
    &__members {
      background-position: 55px 0;
    }
    &__member-role {
      &::before {
        height: 10px;
        width: 1px;
        margin: 3px 0;
      }
    }
    &__mask {
      display: block;
      height: 340px;
    }
    .arrow {
      display: none;
      &--left {
        display: block;
        left: 10px;
      }
    }
  }
}