.tips {
  width: 100%;
  display: flex;
  overflow: hidden;
  &__tip {
    width: 50%;
    background-color: #636363;
    display: flex;
    align-items: center;
    position: relative;
    &-content {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
    }
    &-head {
      font-size: 34px;
      line-height: 34px;
      font-family: PTSerif, 'Times New Roman', serif;
      font-weight: normal;
      padding: 60px 0;
    }
    &-author {
      align-self: flex-start;
      margin: 13px 0  83px 0;
      font-size: 18px;
      line-height: 34px;
      font-style: italic;
      font-family: PTSerif, 'Times New Roman', serif;
    }
  }
  &__lift {
    position: relative;
    width: 50%;
    background-color: #dddddd;
    padding-left: 101px;
    &-head {
      font-size: 34px;
      line-height: 34px;
      font-family: PTSerif, 'Times New Roman', serif;
      font-weight: normal;
      padding: 60px 0;
    }
    &-preview {
      font-size: 30px;
      line-height: 23px;
      color: $mainColor;
      padding-bottom: 28px;
    }
    &-description {
      color: #373737;
      font-size: 18px;
      line-height: 26px;
      font-style: italic;
      width: 360px;
    }
  }
  .arrow {
    top: 150px;
  }
}
@media (max-width: 1024px) {
  .tips {
    &__tip {
      &-content {
        margin: 0 88px;
      }
      &-head {
        font-size: 24px;
        line-height: 24px;
        padding: 32px 0 39px 0;
      }
      &-author {
        margin: 6px 0  50px 0;
        font-size: 11px;
        line-height: 20px;
      }
      &-image {
        width: 183px;
        height: 123px;
      }
    }
    &__lift {
      padding-left: 64px;
      &-head {
        font-size: 24px;
        line-height: 24px;
        padding: 32px 0 37px 0;
        color: #636363;
      }
      &-preview {
        font-size: 18px;
        line-height: 14px;
        padding-bottom: 16px;
      }
      &-description {
        font-size: 11px;
        line-height: 16px;
        width: 280px;
      }
    }
    .arrow {
      top: 93px;
    }
  }
}
@media (max-width: 820px) {
  .tips {
    &__tip {
      &-content {
        margin: 0 80px;
      }
    }
    &__lift {
      &-description {
        width: 216px;
      }
      &-preview {
        padding-bottom: 10px;
      }
    }
    .arrow {
      top: 93px;
      right: 30px;
    }
  }
}

@media (max-width: 740px) {
  .tips {
    .arrow {
      top: 116px;
    }
  }
}
@media (max-width: 660px) {
  .tips {
    .arrow {
      right: 10px;
    }
  }
}
@media (max-width: 580px) {
  .tips {
    display: block;
    &__tip {
      width: 100%;
      padding: 30px 30px 30px 10px;
      &-head {
        padding: 0 0 39px 0;
      }
      &-content, &-author {
        margin: 0;
      }
      &-content img {
        width: 100%;
        height: auto;
      }
      &-author {
        padding-top: 10px;
      }
      .arrow {
        display: none;
      }
    }
    &__lift {
      width: 100%;
      padding: 30px 30px 80px 10px;
      &-head {
        padding: 0 0 39px 0;
      }
      &-description {
        width: 100%;
        padding-right: 20px;
      }
      &-preview {
        padding-bottom: 16px;
      }
    }
    .arrow {
      top: 85px;
      right: 10px;
    }
  }
}